{% extends 'base.html' %}

{% block head %}
<title>Area of Circle</title>
{% endblock %}

{% block body %}
<div class="works page-bg">
    <div class="work-detail-section">
        <h1>GET THE AREA OF A CIRCLE</h1>
        <div class="io-box">
            <form action="/areaofcircle" method="post">
                <label for="inputnum">Enter radius:</label>
                <input type="number" id="inputnum" name="inputnum" value="{{ request.form.inputnum }}">
                <input type="submit" value="Calculate">
            </form>
            {% if result %}
            <div class="results">
                <p>Area of circle: {{ result }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
