<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
    <nav class="navbar">
        <div class="logo">RHYTHM</div>
        <ul class="nav-links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CONTACTS</a></li>
            <li><a href="#">ALL DEMOS</a></li>
        </ul>
    </nav>

    <div class="main">
        {% block body %}{% endblock %}
    </div>
</body>
</html>