{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<div class="main landing-bg">
    <div class="content">
        <div class="intro">
            <div class="top-image">
                <img src="{{ url_for('static', filename='stencil.png') }}" alt="stencil logo">
            </div>
            <h1><span class="spaced">CODE.ALGORITHMS.SUBMISSIONS</span></h1>
            <div class="bottom-image">
                <img src="{{ url_for('static', filename='ambigram.png') }}" alt="ambigram brand">
            </div>
        </div>
    </div>
</div>
{% endblock %}
