{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<div class="page-bg">
    <div class="intro-section">
        <div class="intro-logo-top">
            <img src="{{ url_for('static', filename='stencil.png') }}" alt="stencil logo">
        </div>
        <h1 class="intro-tagline">CODE.ALGORITHMS.SUBMISSIONS</h1>
        <div class="intro-logo-bottom">
            <img src="{{ url_for('static', filename='ambigram.png') }}" alt="ambigram brand">
        </div>
    </div>
</div>
{% endblock %}