{% extends 'base.html' %}
{% block head %}
<title>Convert to Uppercase</title>
{% endblock %}

{% block body %}
<div class="works landing">
    <div class="content">
        <h1>CONVERT STRING TO UPPERCASE</h1>

        <div class="io-box">
            <form action="/testwork" method="post">
                <label for="inputString">Enter a string:</label>
                <input type="text" id="inputString" name="inputString">
                <input type="submit" value="Convert">
            </form>

            <div class="results">
                {% if result %}
                <p>Converted string: {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}